.navbar{
	background-color: lightblue;
}
.background-overall{
	background-color:#ABA6A6;
	height:800px;
	padding-right:10px;
}
.sidebar-greybackground{
	background-color:#ddd;	
}
ul li{
	list-style:none;	
}
li a{
	color:black;	
}
.logo{
	background-color:grey;
	padding-left:20px;
}
.sidebar-wrapper li:nth-child(even) {
    background-color: #f2f2f2;
	border: 1px solid black;
}
.sidebar-wrapper li:nth-child(uneven) {
    background-color: #D3D3D3;
	border: 1px solid black;
}
body{
	background-color:#DDE1E2;	
}
.active{
	color:#E46915;	
}